<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>
   
    <div class="container">
       <form method="get"  class="row mt-5 mb-5">
         <div class="col">
            <input type="text" name="search" class="form-control">
         </div>
         <div class="col">
            <button type="submit" class="btn btn-success">بحث</button>
         </div>
       </form>
       
        <div class="row mt-3">
            {% for d in depts %}
            <div class="col">
              <div class="card">
                <div class="card-body">
                    <h3> {{d}}  </h3>
                </div>
              </div>
            </div>
           {% endfor %}
        </div>
    </div>
</body>
</html>