<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body dir="rtl">
   <div class="container">
     <div class="row mt-5">
        <div class="col">
               <div class="card border-0 shadow-sm rounded-4 ">
        <table class="table table-responsive">
            <thead class="table-light">
                <tr>
                    <th class="ps-4">#</th>
                    <th class="ps-4">اسم الموظف</th>
                    <th class="ps-4">الراتب</th>
                    <th class="ps-4">رقم الهاتف</th>
                    <th class="ps-4">البريد الاليكتروني</th>
                </tr>
            </thead>

            <tbody>
                {% for em in emp %}

                  <tr>
                    <td class="ps-4 text-muted small">{{em.id}}</td>
                    <td class="ps-4 text-muted small"> {{em.name}}</td>
                    <td class="ps-4 text-muted small">{{em.sal}}</td>
                    <td class="ps-4 text-muted small">{{em.phone}}</td>
                    <td class="ps-4 text-muted small">{{em.email}}</td>
                  </tr>

                {% endfor %}
            </tbody>
        </table>
    </div>
        </div>
     </div>
   </div>
</body>
</html>